/*
* @Author: Administrator
* @Date:   2017-01-16 21:13:39
* @Last Modified by:   Administrator
* @Last Modified time: 2017-01-16 21:13:47
*/
body{ background-color: #F7F7F7; background: #2A3F54; color: #73879C; font-size: 13px;}
a {
    color:#5A738E;
    text-decoration: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus, :active, :focus, :visited, a, a:active, a:focus, a:visited {
    outline:0
}
a:focus, a:hover {
    text-decoration:none
}

.clearfix:after{ content:""; height:0; visibility:hidden; display:block; clear:both;}
.clearfix{ zoom:1;}
.clear { clear:both;}